<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'shared/head' %>
</head>

<body>
<main class="flex flex-col bg-slate-600 h-screen">
  <%= render :partial => "shared/navigation" %>
  <%= yield %>
</main>
</body>
</html>
